@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");

* {
  font-family: "Playwrite NG Modern", cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  background-color: rgba(0, 0, 0, 0.4);
}

.start-btn {
  animation: start 2.5s linear;
}

.start-btn-active {
  animation: start 1.5s linear reverse;
}

@keyframes start {
  0% {
    content-visibility: hidden;
    scale: 0;
    width: 50px;

    border-radius: 9999px;
  }
  25% {
    width: 50px;
    scale: 0, 25;
    content-visibility: hidden;
  }

  75% {
    width: 50px;
    content-visibility: hidden;
    scale: 0, 75;
  }

  100% {
    content-visibility: unset;
    scale: 1;
    @apply btn-wide;
  }
}

.background-clip {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}
